<div class="block">
  <h3>Simple Block</h3>
  <div class="content">
    <p>Dear Test User: What information would you most like to see in this box?</p>
  </div>
</div>
<div class="block">
  <h3>Navigation</h3>
  <ul class="navigation">
    <li><a href="#">And how about these links?</a></li>
    <li><a href="#">What would be good?</a></li>
  </ul>
</div>