<div class="block">
  <h3>Information</h3>
  <div class="content">
    <p>What information would you like to see in this box? What do you want to know right 
	now? What would make usability better?</p>
  </div>
</div>
<div class="block">
  <h3>Navigator</h3>
  <ul class="navigation">
  	<li><a href="#">election ...</a></li>
	<li><a href="#">election ...</a></li>
	<li><a href="#">election ...</a></li>
  </ul>
</div>