<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active">
        <%= link_to "#{t("ttv.list", :default => "List")}", precincts_path %>
      </li>
      <li>
        <%= link_to "#{t("ttv.new", :default => "New")}", new_precinct_path %>
      </li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title"><%= t("web-app-theme.all", :default => "All") %> Precincts</h2>
    <%= render :partial => 'precincts/precinct_list' %>
  </div>
</div>
<% content_for :sidebar, render(:partial => 'sidebar') -%>