/* Override here any style definide by web-app-theme */
#wrapper {
    padding-top: 0px;
    padding-right: 0px;
    background: lightgrey;
}

body {
    width: 960px;
    margin: auto;
}

div#juris {
  width: 50%;
  height: 60px;
  margin: 10px;
}

#juris h1 {
   color: white;
   line-height: 120%;
   font-size: 22px;
}

.buttons a, .buttons span, .buttons em, .buttons button {
    border-style: solid;
    border-width: 1px;
    display: block;
    float: left;
    margin-right: 5px;
    padding: 2px 5px;
}


span.error_message {
  color: red;
}

#footer {
  padding: 0px 0px 0px 0px;
  width: 960px;
  clear: both;
}

#juris img {
  float:left;
  margin-right: 15px;
  height: 64px;
  width: 64px;
}

div#sidebar {
  background-color: #fcf9ef;
  padding: 15px;
  width: 163px;
  margin: 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-color:#DDDDDD #CCCCCC #CCCCCC #DDDDDD;
  border-left:4px solid #DDDDDD;
  border-style:solid;
  border-width:1px;  
  
}

#sidebar a.button {
	margin: 3px;
	text-align:center;
	width:  120px;
	margin-bottom: 15px;
	margin-left: 20px;
	text-align: center;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

#juris img {
    float: left;
    margin-right: 15px;
    height: 64px;
    width: 64px;
}

#breadcrumb h1
{
	margin-bottom:5px;
}

#sidebar h2 {
    padding-top: 15px;
    margin-top: 5px;
    border-top: 1px solid #d7d7d7;
}

#infobox ul {
    padding: 20px;
    list-style: none;
    line-height: 2;
}

div#infobox.block {
    margin: 0px;
}

#linkbox ul {
    padding: 20px;
    list-style: none;
    line-height: 2;
    width: 25%;
}


