#wrapper {
    padding-top: 0px;
    padding-right: 0px;
    background: lightgrey;
}

body {
    width: 960px;
    margin: auto;
}

.actions-bar .buttons {
    float: left;
    padding: 5px 0px 0px 0px;
}

.inner .actions-bar
{
	padding: 0;
}

.buttons a, .buttons span, .buttons em, .buttons button {
    border-style: solid;
    border-width: 1px;
    display: block;
    float: left;
    margin-right: 5px;
    padding: 2px 5px;
}

.buttons a, .buttons button {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #DDDDDD;
    color: #364B69;
    font-size: 11px;
    line-height: 16px;
}

.buttons a:hover, .buttons button:hover {
  background: #EAEAEA;
  border: 1px solid #576C82
  color: #444444;
}

#header {
    height: 80px;
}

#main .block .content {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-top: 21px;
}

div#main {
    width: 705px;
    background: lightgrey;
}

#main div.block {
    margin: 0px;
    padding: 0px;
}

ul.wat-cf li {
    color: #CDE;
}

img.ttv-logo {
    vertical-align: middle;
}

div#juris {
    width: 50%;
    height: 60px;
    margin: 10px;
}

#juris h1 {
    color: white;
    line-height: 120%;
    font-size: 22px;
}

#juris h2 {
    color: white;
    font-size: medium;
    margin-top: 0px;
}

span.error_message {
    color: red;
}

#footer {
    padding: 0px 0px 0px 0px;
    width: 960px;
    clear: both;
}

#juris img {
    float: left;
    margin-right: 15px;
    height: 64px;
    width: 64px;
}

div#sidebar {
    background-color: #fcf9ef;
    padding: 15px;
    width: 163px;
    margin: 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-color: #DDDDDD #CCCCCC #CCCCCC #DDDDDD;
    border-left: 4px solid #DDDDDD;
    border-style: solid;
    border-width: 1px;
}

#sidebar a.button {
    margin: 3px;
    text-align: center;
    width: 120px;
    margin-bottom: 15px;
    margin-left: 20px;
    text-align: center;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#sidebar h2 {
    padding-top: 15px;
    margin-top: 5px;
    border-top: 1px solid #d7d7d7;
}

#breadcrumb h1 {
    margin-bottom: 5px;
}

#linkbox .left {
	width: 50%;
	float: left;
}

#linkbox .right {
	width: 50%;
	float: right;
	text-align: right;
}

#linkbox p {
	margin: 15px;
}

#breadcrumb h4 {
    margin-top: 5px;
    font-size: small;
}

.inner .table {
	margin-bottom: 0px;
}

.inner h3.title {
	font-size: 14px;
	margin-bottom: 4px
}

.subtable  {
	padding: 0 0 15px 0;
	border-bottom: 1px solid #8a8a8a;
}

.subtable table.table  {
	border: none;
	background-color: #fafafa;
}

tr.emptysubtable
{
	font-style: italic;
	color: green;
}

