/* Override here any style definide by web-app-theme */

/* So that the user name and current jurisdictions show up in the top right */
ul.wat-cf li {
  color: #CDE;
}

img.ttv-logo {
  vertical-align:middle;
}

h1.title-header {
   color: #eaeaea;
   line-height: 100%; 
}
