<div class="block">
  <h3>Simple Block</h3>
  <div class="Admin">
    <p>
      Welcome User
      <% if current_user && current_user.email %>
        with email of <%= current_user.email %>
      <% end %>.
      Any suggestions about what you'd like to see here would be greatly appreciated. 
      Send them all to me, personally!!
    </p>
    
  </div>
</div>
<div class="block">
  <h3>Navigation</h3>
  <ul class="navigation">
    <li>
      <a href="#">What kinds of things do you need to navigate to here?</a>
    </li>
    <li>
      <a href="#">And anything else? </a>
    </li>
  </ul>
</div>
