<h2>Users</h2>

<p>Users can view election data without having to log in. However in order to
modify and update data, a log in is required. There are three levels of user
access: System Admin, Jurisdiction Admin and regular user. </p>

    <em>
      Welcome User! You are registered with 
      <% if current_user && current_user.email %>
        this email: "<%= current_user.email %>"
      <% end %>.
    </em >
