<h2>Election</h2>
                <p>Elections occur within a single Jurisdiction, and on a specific date. In other words,  
                within TTV's Election manager these are election 'events. </p>
                <p>If the data is complete enough then ballots can immediately be generated so you can examnine
                them to see that they contain the contests and questions expected. </p>
