<h2>Candidates</h2>
<p>ElectionManager tracks a large variety of information about candidates, their names, parties, etc.</p>
<p>Candidates are always added to existing contests, they do not exist alone. If you are trying to add
a canidate and you don't see the 'new' button it is probably because you need to come at it from a particular
contest.</p>
<p>This section of Election Manager is used to manage Candidates</p>