<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("ttv.list", :default => "List")}", candidates_path  %></li>
      <li class="active"><%= link_to "#{t("ttv.new", :default => "New")}", new_candidate_path %></li>
    </ul>
  </div>          
  <div class="content">            
    <h2 class="title"><%= t("ttv.new", :default => "New")%>  Candidate</h2>
    <div class="inner">
      <% form_for :candidate, :url => candidates_path, :html => { :class => :form } do |f| -%>
        <%= render :partial => "form", :locals => {:f => f} %>
      <% end -%>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>