<h2>Jurisdictions</h2>
<p class="intro">Most election related data in ElectionManager is part of a single Jurisdiction. Elections, Candidates, Contests, Questions,
all of these relate back to the Jurisdiction that they belong to. Some states refer to these as Counties or other local terminology.
<p class="follow">Most prominently, you can find the list of Elections here. An Election is a single event for a specific date. Ballots are
generated for a specific Election, for example.</p>
