<div class="block">
    <h3>Toolbox</h3>
    <div class="content">
        <br/>
        <%= render :partial => 'application/admin_toolbox' %>
    </div>
</div>
<div class="block">
    <h3>Commands</h3>
    <div class="content">
        <br/>
        <ul class="list">
            <% if current_context.jurisdiction? %>
            <li>
                <%= link_to "Import into this Jurisdiction", import_jurisdiction_path(:id => current_context.jurisdiction.id) %>
            </li>
            <li>
                <%= link_to "Export from this Jurisdiction", export_jurisdiction_path(:id => current_context.jurisdiction.id) %>
            </li>
            <% end %>
            <li>
                <a href="#">And anything else? </a>
            </li>
        </ul>
    </div>
</div>
