<h2>Assets</h2>
<p>Election Manager centrally stores the images and large blocks of text that are used
in ballots. This way it is easy to see what is already available, and upload or delete other assets</p>
<p>All assets are identified by an all important key called the "ident". These idents are used for example
in ballot style sheets or other places to refer to an asset of a logo, or an instructional diagram, or any
other uploaded files.</p>
<p>This section of Election Manager is used to manage these assets.</p>