<% content_for :title, "Trust The Vote" %>
<h2>
Welcome to TrustTheVote</h1>
<% if current_user %>

<p>
  Hola <%= h current_user.email %>
</p>
<p>
  What would you like to do?
</p>
<%= render :partial => 'admin_toolbox' %>

<% else %>
<p>
  Welcome to TrustTheVote election management system.
</p>
<p>
  Please <%= link_to "Register", new_user_path %>, or <%= link_to "Login", login_path %>to play with it.
</p>
<% end %>
